.swipermain {
    width: 100%;
    height: 320px;
  }
  
.swiperslideFaculty {
    width: 20rem !important;
    height: 20rem !important;
    border-radius: 2rem !important;
    overflow: hidden !important
  }
  
  .swiperslideFaculty img {
    display: block !important;
    width: 100% !important;
  }
  
 